<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>


    <div th:include="~{common :: commonheader}"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common::#leftmenu"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div th:replace="~{common::headmenu}"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Dynamic Table
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div id="dynamic-table_length" class="dataTables_length"><label><select
                                                    class="form-control" size="1" name="dynamic-table_length"
                                                    aria-controls="dynamic-table">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> records per page</label></div>
                                        </div>
                                        <div class="span6">
                                            <div class="dataTables_filter" id="dynamic-table_filter"><label>Search:
                                                <input type="text" class="form-control"
                                                       aria-controls="dynamic-table"></label></div>
                                        </div>
                                    </div>
                                    <table class="display table table-bordered table-striped dataTable"
                                           id="dynamic-table" aria-describedby="dynamic-table_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" role="columnheader" tabindex="0"
                                                aria-controls="dynamic-table" rowspan="1" colspan="1"
                                                aria-label="Rendering engine: activate to sort column ascending"
                                                style="width: 213px;">Rendering engine
                                            </th>
                                            <th class="sorting" role="columnheader" tabindex="0"
                                                aria-controls="dynamic-table" rowspan="1" colspan="1"
                                                aria-label="Browser: activate to sort column ascending"
                                                style="width: 313px;">Browser
                                            </th>
                                            <th class="sorting" role="columnheader" tabindex="0"
                                                aria-controls="dynamic-table" rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 292px;">Platform(s)
                                            </th>
                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0"
                                                aria-controls="dynamic-table" rowspan="1" colspan="1"
                                                aria-label="Engine version: activate to sort column ascending"
                                                style="width: 179px;">Engine version
                                            </th>
                                            <th class="hidden-phone sorting_desc" role="columnheader" tabindex="0"
                                                aria-controls="dynamic-table" rowspan="1" colspan="1"
                                                aria-sort="descending"
                                                aria-label="CSS grade: activate to sort column ascending"
                                                style="width: 127px;">CSS grade
                                            </th>
                                        </tr>
                                        </thead>

                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">Rendering engine</th>
                                            <th rowspan="1" colspan="1">Browser</th>
                                            <th rowspan="1" colspan="1">Platform(s)</th>
                                            <th class="hidden-phone" rowspan="1" colspan="1">Engine version</th>
                                            <th class="hidden-phone" rowspan="1" colspan="1">CSS grade</th>
                                        </tr>
                                        </tfoot>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">

                                        <tr class="gradeX odd" th:each="user,iterstat:${page.records}">
                                            <td th:text="${iterstat.count}">Trident</td>
                                            <td th:text="${user.id}">Trident</td>
                                            <td th:text="${user.name}">Internet
                                                Explorer 4.0
                                            </td>
                                            <td th:text="${user.getAge()}">Win 95+</td>

                                            <td class="center hidden-phone ">[[${user.email}]]</td>
                                            <td><a th:href="@{/user/delete/{id}(id=${user.id},pn=${page.current})}" class="btn btn-danger btn-sm" type="button">删除</a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="dataTables_info" id="dynamic-table_info">当前 [[${page.current}]] 页 共 [[${page.pages}]] 页   共 [[${page.total}]] 条记录

                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="dataTables_paginate paging_bootstrap pagination">
                                                <ul>
                                                    <li class="prev disabled"><a href="#">← Previous</a></li>
                                                    <li th:class="${num==page.current}?'active':''" th:each="num:${#numbers.sequence(1,page.pages)}"><a th:href="@{/dynamic_table(pn=${num})}">[[${num}]]</a></li>


                                                    <li class="next"><a href="#">Next → </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            DataTables hidden row details example
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered" id="hidden-table-info">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>用户名</th>
                                        <th>密码</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--        <tr class="gradeX" th:each="user,stats:${userList}">-->
                                    <!--            <td th:text="${stats.count}">Trident</td>-->
                                    <!--            <td th:text="${user.getUsername()}">aa/td>-->
                                    <!--            <td th:text="${user.getPassword()}">ss/td>-->

                                    <!--        </tr>-->

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>


<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->

<div th:replace="common :: #commonscript"></div>


</body>
</html>
